@model PawentsOneStopShop.Models.Follow

@{
    ViewData["Title"] = "Follow";
    Layout = "~/Views/Shared/_Layout_PetOwner.cshtml";
}

<h1>Follow</h1>

<h4>I want to follow @Model.PetBusiness.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Follow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PetOwnerId" class="form-control" />
            <input type="hidden" asp-for="PetBusinessId" class="form-control" />
            @*<div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFollowing" class="control-label"></label>
                <select asp-for="IsFollowing" class="form-control" asp-items="ViewBag.FollowStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="IsAdopted" class="control-label"></label>
                <select asp-for="IsAdopted" class="form-control" asp-items="ViewBag.AdoptionStatus"></select>
            </div>
            <div class="form-group">
                <label asp-for="PetTypeId" class="control-label"></label>
                <select asp-for="PetTypeId" class="form-control" asp-items="ViewBag.PetType"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture" class="control-label"></label>
                <input asp-for="ProfilePicture" class="form-control" />
                <span asp-validation-for="ProfilePicture" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Follow" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayPetBusinesses">Back to Pet Businesses Search</a>
</div>

