@model PawentsOneStopShop.Models.ViewModelSendInvite

@{
    ViewData["Title"] = "SendPlaydate";
    Layout = "~/Views/Shared/_Layout_PetOwner.cshtml";
}

<h1>Playdate</h1>

<h4>Create Event and Send Invitation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SendPlaydate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OwnerInvitedId" />
            <span asp-validation-for="OwnerInvitedId" class="text-danger"></span>
            <input type="hidden" asp-for="OwnerSendingId" />
            <span asp-validation-for="OwnerSendingId" class="text-danger"></span>
            <input type="hidden" asp-for="PetProfileId" />
            <span asp-validation-for="PetProfileId" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerSendingName" class="control-label"></label>
                <input asp-for="OwnerSendingName" class="form-control" />
                <span asp-validation-for="OwnerSendingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Playdate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DisplayNotMyPetBusinessDetails" asp-route-Id="PetProfileId">Back to Pet Profile</a>
</div>

